<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
      ConcertCar
     <span class="glyphicon glyphicon glyphicon-music"></span>
     <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapsible-content">
      <div class="navbar-left browse-offers">
        <%= link_to offers_path, class: "btn btn-default navbar-btn" do %>
        Browse all Offers
        <span class="glyphicon glyphicon-menu-right small"></span>
        <% end %>
        <%= link_to new_offer_path, class: "btn btn-warning navbar-btn" do %>
          Post an Offer
          <span class="glyphicon glyphicon-menu-right small"></span>
        <% end %>
      </div>
      <div class="navbar-right login">
        <% if user_signed_in? %>
        <% if current_user.admin? %>
            <%= link_to "Admin Panel", rails_admin_path , class: "btn btn-default navbar-btn" %>
        <% end %>
          <%= link_to "My Offers", myoffers_path, class: "btn btn-default navbar-btn" %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-warning navbar-btn" %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default navbar-btn"%>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-default navbar-btn" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-warning navbar-btn"%>
        <% end %>
    </div> 
  </div> 
</nav>