<div class="container" id="offer-form">
<%= form_for @offer do |f| %>
  <% if @offer.errors.any?%>
    <div class="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error")%> prohibited this Offer from being saved:</h2>
      <ul>
        <% @offer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.label :concert, "Concert:", class: "blue" %>
        <%= f.text_field :concert, class: "form-control input-lg" %>
        <small class="help-block">Ex: Metallica London 21.07.2018</small>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.label :price, "Price:", class: "blue"%>
        <%= f.text_field :price, class: "form-control input-lg" %>
        <small class="help-block">Ex: 25$</small>
      </div>
    </div>

  </div> <!-- end first row -->
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.label :description, "Description", class: "blue" %>
        <%= f.text_area :description, class: "form-control input-lg", rows: 10 %>
        <small class="help-block">Details</small>
      </div>
    </div>

    

    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.label :route, "Route", class: "blue" %>
        <%= f.text_area :route, class: "form-control input-lg", rows: 10 %>
        <small class="help-block">Locations on your route, Ex: Manchester, Birmingham, London </small>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.label :location, "Location:", class: "blue" %>
        <%= f.text_field :location, class: "form-control input-lg" %>
        <small class="help-block">Starting location </small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="">
        <%= f.submit "Create Offer", class:"btn btn-warning input-lg"%>
        
      </div>
    </div>
  </div>
<% end %>
</div>